services:
  backend:
    container_name: backend
    image: dstbg_backend
    network_mode: "host"
    build:
      context: .
      dockerfile: backend.Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
      - "27017:27017"
    volumes:
      - ./backend:/app
    command: ["poetry", "run", "fastapi", "dev"]

  frontend:
    container_name: frontend
    image: dstbg_frontend
    build:
      context: .
      dockerfile: frontend.Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    command: ["npm", "start"]
